<div *ngIf="loading">
    Loading...
</div>
<div *ngIf="!loading" class="Shop">
   
    <div class ="Items">
        <h2>Twoje zamówienia</h2>
    <hr/>
<div *ngFor="let order of orders" class="or">
    <div class='date'><h2>Data zamówienia: {{order.date.slice(0,10)}} </h2></div>
    <div class='status'>Stauts: {{order.status}}</div>
    <div class='cena'>Cena: {{order.orderPrice}} PLN</div>
    <ul class="list-group">
  
</ul>
    <div class="orderedItems"> 
        <li *ngFor="let product of order.products">{{product.name}} - {{product.price}} PLN, {{product.amount}} sztuk</li>
    </div>
    </div></div>
</div>