<div class="ProductBox">
    <div class="ProductForm">
      <h2>Dodaj przedmiot/stan magazynu</h2>
      
        <p>Typ przedmiotu</p>
      <select id="type" class='form-control'name="type" [(ngModel)]="itemType">
        <option value="New">Nowy</option>
        <option value="Exsisting">Istniejący</option>
      </select>
      
      <div *ngIf="itemType=='New'">
        <form ngNativeValidate (ngSubmit)="addProduct()">
        <div class='form-Group' size="lg" >
            <label>Nazwa</label>
            <input  class="form-control"
              id="name"
              name="name"
              type="text"
              required
              [(ngModel)]="name"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Opis</label>
            <input  class="form-control"
              id="description"
              name="description"
              required
              type="text"
              [(ngModel)]="description"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Cena</label>
            <input  class="form-control"
              id="price"
              name="price"
              required
              type="number"
              [(ngModel)]="price"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Ilość</label>
            <input  class="form-control" min = '1' max='999'
              id="amount"
              name="amount"
              required
              type="number"
              [(ngModel)]="amount"
            />
            </div>
            <div class='form-Group' size="lg" >
                <label>Zdjęcie</label>
                <input  class="form-control"
                  required
                  name="photo"
                  id="photo"
                  type="file"
                  (change)="fileChangeEvent($event)"
                />
                </div>
                <div class='form-Group' size="lg" >
                <label>Kategoria</label>
            <input type="text"  required class='form-control' name="category" id="categoryId" list="optionsList" [(ngModel)]="category"/>
            <datalist id="optionsList" >
                <option *ngFor="let cat of categories"  value="{{cat.name}}">{{cat.name}}</option>
             </datalist>
              </div>
              <button *ngIf="itemType=='New'" type="submit"  size="lg" class="btn btn-primary" type="submit">
                Dodaj
              </button>
            </form>
      </div>
      <div *ngIf="itemType=='Exsisting'">
        Wybierz produkt
        <select [(ngModel)]="productId" class='form-control' id="productId">
          <option value="">Wybierz produkt</option>
          <option *ngFor="let x of products"  value={{x.value}}>{{x.key}}</option>
        </select>
        <div class='form-Group' size="lg" >
            <label>Ilość</label>
            <input  class="form-control" min = '1' max='999'
              id="amount"
              required
              type="number"
              [(ngModel)]="amount"
            />
            </div>
      </div>
      <button *ngIf="itemType=='Exsisting'" (click)="addProduct()"  size="lg" class="btn btn-primary" type="submit">
        Dodaj
      </button>
    </div>
    
</div>
