.LoginBox{
    background-color:#F8F8FF;
    -webkit-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
    -moz-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
    box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
    width: 30%;
    margin:auto;
    margin-top: 5%;
    height: 380px;
}
.login{
    padding-top:10%;
    width:50%;
    margin: auto;
}
.submit{
    margin-top: 3%;
}