<div class="change">
    <div class="password">
      <h2>Zmień hasło</h2>
        <div class='form-Group' size="lg" >
            <label>Hasło</label>
            <input  class="form-control"
              id="password"
              type="password"
              [(ngModel)]="password"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Nowe hasło</label>
            <input  class="form-control"
              id="newPassword"
              type="password"
              [(ngModel)]="newPassword"
            />
        </div>
        <button  size="lg" [disabled]="checkEmpty()" class="btn btn-primary submit" (click)="changePassword()" type="submit">
            Zmień
          </button>
        </div>
        </div>