<p>change-password works!</p>
<div class="change">
    <div class="password">
        <div class='form-Group' size="lg" >
            <label>Hasło</label>
            <input  class="form-control"
              id="password"
              type="password"
              [(ngModel)]="password"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Nowe hasło</label>
            <input  class="form-control"
              id="newPassword"
              type="password"
              [(ngModel)]="newPassword"
            />
        </div>
        <div class='form-Group' size="lg" >
            <label>Powtórz</label>
            <input  class="form-control"
              id="confirmPassword"
              type="password"
              [(ngModel)]="confirmPassword"
            />
        </div>
        <button  size="lg" class="btn btn-primary submit" (click)="changePassword()" type="submit">
            Zmień
          </button>
        </div>
        </div>