.Basket{
    width:100%;
  }
  .Products{
    
      padding-top: 2%;
      width:50%;
      margin: auto;
      max-width: 1000px;
      background-color:#F8F8FF;
      -webkit-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
      -moz-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
      box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
  }

  .summary{
      margin-right: 6%;
      float:right;
      width:15%;
      height: auto;
      background-color:#F8F8FF;
      overflow-y: auto;
      -webkit-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
      -moz-box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
      box-shadow: 3px 9px 17px 3px rgba(159, 159, 173, 1);
  }

  .amount{
      float:right;
      margin-right: 5%;
  }
  .header{
    text-align: center;
}